
<%- include("partial/header") %>
<%- include("partial/nav") %>
<%- include("partial/footer") %>

<!-- 
<h1>WELCOME TO BOOKSTORE.</h1>
<P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum vel, voluptatum suscipit ex earum tempora ad voluptatem nam fugiat commodi voluptatibus doloribus maiores dolorum quo quam eaque in reiciendis aut.</P>
<button>EXPLORE MORE</button> -->

<!-- 

<h1 style='text-align: center; color: tomato; margin-top: 10%;'><span style='font-size: 60px;'>...</span>
    <br>
Email sent! Check your inbox, <br>
check spam in case not found in inbox .   </h1>
<a href="/">Home Page</a> -->