

<nav class="py-3 text-center bg-black fs-4  ">
    <a class="text-decoration-none me-5 text-white"  href="/">Home</a>
    <a class="text-decoration-none me-5 text-white"  href="/library">Library</a>
    <a class="text-decoration-none me-5 text-white"  href="/about">About</a>
</nav>

